{% extends "layout.html" %}

{% block body %}

<!-- LOGIN PAGE -->
<div class="login-page">
    <div class="login-field">
        <form class="login-form" action="/login" method="post" enctype="multipart/form-data">
            Username<input name="username" type="text">
            Password<input name="password" type="password">
            <button class="action-button submit-login-btn" type="submit">Login</button>  
        </form>
        <a href="/register">Don't have an account? Create new one!</a>

        <!-- Error window – shows if error was encountered in Flask -->
        {% include "error.html" %}
        
    </div>
</div>
{% endblock %}