{% extends "layout.html" %}

{% block body %}

<!-- LINGUISTIC TERMS TABLE – explains basic terms -->
<div id="terms">
    <table class="sortable">
        <thead>
            <th>Term</th>
            <th>Meaning</th>
        </thead>
        <tbody>
            {% for term in terms_dict %}
                <tr>
                    <td>{{ term["term"] }}</td>
                    <td>{{ term["meaning"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    
{% endblock %}
